html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Train One';
}

@font-face {
    font-family: 'Train One';
    src: local('Train One'), url(./fonts/TrainOne-Regular.ttf) format('truetype');
}
